<!-- <p>receiving-form works!</p> -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a [routerLink]="['/receiving']">Receiving</a></li>
    <li *ngIf="params.action === 'create'" class="breadcrumb-item active" aria-current="page">Create</li>
    <li *ngIf="params.action === 'edit'" class="breadcrumb-item active" aria-current="page">Edit - {{params.ref_no}}
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 my-2">
    <div class="card">
      <div class="card-header">
        <h3 *ngIf="params.action === 'create'" class="card-title">Receiving > Create</h3>
        <h3 *ngIf="params.action === 'edit'" class="card-title">Receiving > Edit {{params.ref_no}}</h3>
      </div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="supplier" class="form-label">Supplier</label>
            <!-- <select class="form-select" [(ngModel)]="formData.supplier">
              <option *ngFor="let supp of supplierData" [ngValue]="supp.name">{{ supp.name }}</option>
            </select> -->
            <ng-select [items]="supplierData" bindLabel="name" bindValue="id" [(ngModel)]="formData.supplier_id">
            </ng-select>
          </div>
          <div class="col-md-6">
            <label for="subcon" class="form-label">Subcon</label>
            <!-- <select class="form-select" [(ngModel)]="formData.subcon">
              <option *ngFor="let sub of subconData" [ngValue]="sub.name">{{ sub.name }}</option>
            </select> -->
            <ng-select [items]="subconData" bindLabel="name" bindValue="id" [(ngModel)]="formData.subcon_id">
            </ng-select>
          </div>
          <div class="col-md-6">
            <label for="date" class="form-label">Date</label>
            <div class="input-group">
              <span (click)="d2.toggle()" class="input-group-text"><i class="fa fa-calendar"></i></span>
              <input class="form-control" placeholder="dd/mm/yyyy" name="d2" #c2="ngModel" [(ngModel)]="formData.date"
                ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()">
            </div>
          </div>
          <div class="col-md-6">
            <label for="received_date" class="form-label">Date Received</label>
            <div class="input-group">
              <span (click)="d1.toggle()" class="input-group-text"><i class="fa fa-calendar"></i></span>
              <input class="form-control" placeholder="dd/mm/yyyy" name="d1" #c1="ngModel"
                [(ngModel)]="formData.received_date" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle();">
            </div>
          </div>
          <div class="col-md-4">
            <label for="po_no" class="form-label">P.O Number</label>
            <!-- <input type="text" class="form-control" id="po_no" [(ngModel)]="formData.po_no"> -->
            <ng-select [items]="poData" bindLabel="name" bindValue="name" [(ngModel)]="formData.po_no"></ng-select>

          </div>
          <div class="col-md-4">
            <label for="do_no" class="form-label">D.O Number</label>
            <input type="text" class="form-control" id="do_no" [(ngModel)]="formData.do_no"
              (ngModelChange)="formData.do_no = $event.toUpperCase()">
          </div>
          <div class="col-md-4">
            <label for="do_file" class="form-label">D.O File Upload</label>
            <div *ngIf="!hasFile" class="input-group">
              <input type="file" class="form-control" id="do_file" (change)="handleFile($event)">
              <button class="input-group-text" (click)="uploadDoFile()"><i class="fa fa-upload"></i></button>
            </div>
            <div *ngIf="!hasFile" class="form-control-text"><small>Click upload button to upload selected file.</small>
            </div>
            <div *ngIf="hasFile" class="input-group">
              <span class="form-control">
                <a href={{url+formData.do_file.path}}
                  target="_blank">{{formData.do_file.filename}}</a>
              </span>
              <button (click)="clearFile()" class="input-group-text"><i class="fa fa-trash"></i></button>
            </div>
          </div>
          <div class="col-md-12">
            <label for="remarks" class="form-label">Remarks</label>
            <input type="text" class="form-control" id="remarks" [(ngModel)]="formData.remarks">
          </div>
          <hr>
          <div class="my-1 d-flex justify-content-between">
            <h5 class="my-0">Material Details</h5>
            <div>
              <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" class="btn btn-sm btn-primary"
                (click)="searchMaterial(searchTerm)"><i class="fa fa-plus"></i> ADD MATERIAL</button>
            </div>
          </div>
          <hr class="mb-0">
          <div class="table-responsive">
            <table class="table table-sm table-bordered mt-2">
              <thead class="table-dark">
                <tr>
                  <th scope="col" class="text-center">#</th>
                  <th scope="col" class="text-center">Description</th>
                  <th scope="col" class="text-center">Location</th>
                  <th scope="col" class="text-center">Element</th>
                  <th scope="col" class="text-center">Quantity</th>
                  <th scope="col" class="text-center">Remark</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of formData.details; let num = index">
                  <th scope="row" class="text-center">{{ num+1 }}</th>
                  <td class="text-center">{{ item.description }}</td>
                  <td class="text-center">{{ item.location }}</td>
                  <td class="text-center">{{ item.element }}</td>
                  <td class="text-center">{{ item.quantity }}</td>
                  <td class="text-center">{{ item.remarks ? item.remarks : '-' }}</td>
                  <td class="text-center"><button class="btn btn-sm btn-danger py-0" (click)="removeItem(num, item)"><i
                        class="fa fa-trash"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr class="mt-2 mb-0">
          <div class="col-12">
            <button *ngIf="formData.details.length > 0" type="submit" class="btn btn-primary"
              (click)="submitReceiving()">SUBMIT</button>
            <button *ngIf="formData.details.length < 1" type="submit" class="btn btn-primary" disabled>SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- canvas material data -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Material Search</h5>
    <button type="button" class="btn text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i
        class="fa fa-close"></i></button>
  </div>
  <div class="offcanvas-body">
    <div class="input-group pb-2">
      <div class="input-group-text"><i class="fa fa-search"></i></div>
      <input class="form-control" type="text" name="search" id="search" [(ngModel)]="searchTerm">
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of materialData" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action"
        (click)="selectMaterial(item);modalOpen(content)">{{ item.description }}</li>
    </ul>
  </div>
</div>

<!-- modal details -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Material Information</h4>
    <button type="button" class="btn text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
      (click)="modal.dismiss()"><i class="fa fa-close"></i></button>
  </div>
  <div class="modal-body">
    <div class="row g-2">
      <div class="col-md-12">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" disabled [(ngModel)]="selectedMaterial.description">
      </div>
      <div class="col-md-8">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" [(ngModel)]="selectedMaterial.location">
      </div>
      <div class="col-md-4">
        <label for="element" class="form-label">Element</label>
        <input type="text" class="form-control" id="element" [(ngModel)]="selectedMaterial.element">
      </div>
      <div class="col-md-4">
        <label for="quantity" class="form-label">Quantity ({{selectedMaterial.uom}})</label>
        <input type="text" class="form-control" id="quantity" [(ngModel)]="selectedMaterial.quantity">
      </div>
      <div class="col-md-8">
        <label for="remarks" class="form-label">Remarks</label>
        <input type="text" class="form-control" id="remarks" [(ngModel)]="selectedMaterial.remarks">
      </div>
      <div class="col-12 pt-2">
        <button *ngIf="selectedMaterial.quantity" type="submit" class=" form-control btn btn-primary"
          (click)="addToDetails();modal.dismiss()">Add Material</button>
        <button *ngIf="!selectedMaterial.quantity" type="submit" class=" form-control btn btn-primary" disabled>Add
          Material</button>
      </div>
    </div>
  </div>
</ng-template>
