<!-- <p>receiving-form works!</p> -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a  [routerLink]="['/receiving']">Receiving</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-3 border rounded my-2">
    <h4 class="pt-2 mb-0">Material Search</h4>
    <hr>
    <div class="input-group pb-2">
      <div class="input-group-text"><i class="fa fa-search"></i></div>
      <input class="form-control" type="text" name="search" id="search" [(ngModel)]="searchTerm">
    </div>
    <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" class="btn btn-primary form-control" (click)="searchMaterial(searchTerm)">Search</button>

  </div>

  <div class="col-md-9 my-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Receiving > Create</h3>
      </div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="supplier" class="form-label">Supplier</label>
            <select class="form-select" [(ngModel)]="selectedSupplier" (change)="setSubcon()">
              <option *ngFor="let supp of supplierData" [ngValue]="supp">{{ supp.name }}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="subcon" class="form-label">Subcon</label>
            <select class="form-select" [(ngModel)]="formData.subcon">
              <option *ngFor="let sub of subconData" [ngValue]="sub.name">{{ sub.name }}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="date" class="form-label">Date</label>
            <input class="form-control" type="datetime-local" name="date" id="date" [(ngModel)]="formData.date">
          </div>
          <div class="col-md-6">
            <label for="received_date" class="form-label">Date Received</label>
            <input class="form-control" type="datetime-local" name="received_date" id="received_date"
              [(ngModel)]="formData.received_date">
          </div>
          <div class="col-md-6">
            <label for="do_no" class="form-label">D.O Number</label>
            <input type="text" class="form-control" id="do_no" [(ngModel)]="formData.do_no">
          </div>
          <div class="col-md-6">
            <label for="po_no" class="form-label">P.O Number</label>
            <input type="text" class="form-control" id="po_no" [(ngModel)]="formData.po_no">
          </div>
          <div class="col-md-6">
            <label for="location" class="form-label">Location</label>
            <select class="form-select" [(ngModel)]="formData.location_id">
              <option *ngFor="let loc of locationData" [value]="loc.id">{{ loc.name }}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="remarks" class="form-label">Remarks</label>
            <input type="text" class="form-control" id="remarks" [(ngModel)]="formData.remarks">
          </div>
          <hr>
          <h5 class="my-0">Material Details</h5>
          <hr class="mb-0">
          <table class="table table-sm table-bordered mt-2">
            <thead class="table-dark">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Description</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-center">Remark</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of formData.details; let num = index">
                <th scope="row" class="text-center">{{ num+1 }}</th>
                <td class="text-center">{{ item.description }}</td>
                <td class="text-center">{{ item.quantity }}</td>
                <td class="text-center">{{ item.remarks ? item.remarks : '-' }}</td>
              </tr>
            </tbody>
          </table>
          <div class="col-12">
            <button *ngIf="formData.details.length > 0" type="submit" class="btn btn-primary" (click)="submitReceiving()">submit</button>
            <button *ngIf="formData.details.length < 1" type="submit" class="btn btn-primary" disabled>submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- canvas material data -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Select Material</h5>
    <button type="button" class="btn text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa fa-close"></i></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of materialData" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action" (click)="selectMaterial(item);modalOpen(content)">{{ item.description }}</li>
    </ul>
  </div>
</div>

<!-- modal details -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Material Information</h4>
    <button type="button" class="btn text-reset" data-bs-dismiss="offcanvas" aria-label="Close" (click)="modal.dismiss()"><i class="fa fa-close"></i></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" disabled [(ngModel)]="selectedMaterial.description">
      </div>
      <div class="col-md-6">
        <label for="remarks" class="form-label">Remarks</label>
        <input type="text" class="form-control" id="remarks" [(ngModel)]="selectedMaterial.remarks">
      </div>
      <div class="col-md-6">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="text" class="form-control" id="quantity" [(ngModel)]="selectedMaterial.quantity">
      </div>
      <div class="col-12 pt-2">
        <button *ngIf="selectedMaterial.quantity" type="submit" class=" form-control btn btn-primary" (click)="addToDetails();modal.dismiss()">Add Material</button>
        <button *ngIf="!selectedMaterial.quantity" type="submit" class=" form-control btn btn-primary" disabled>Add Material</button>
      </div>
    </div>
  </div>
</ng-template>
