<!-- <p>supplier-management works!</p> -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Setting</li>
    <li class="breadcrumb-item active" aria-current="page">Vendor Management</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <div class="d-md-flex justify-content-between">
      <h5 class="card-title my-1 ml-2">Vendor Management</h5>
      <button (click)="setNew()" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" class="btn btn-primary"><i
          class="fa fa-plus"></i> Add New Data</button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <label class="col-md-1 col-form-label" for="search">
        Search
      </label>
      <div class="col-md-11">
        <input type="text" name="search" id="search" class="form-control" [(ngModel)]="searchTerm">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-sm table-bordered mt-2">
        <thead class="table-dark">
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Role</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data | filter: searchTerm; let num = index">
            <th scope="row" class="text-center">{{ num+1 }}</th>
            <td class="text-center">
              <ngb-highlight [result]="item.name" [term]="searchTerm"></ngb-highlight>
            </td>
            <td class="text-center">{{ formatRole(item.role) }}</td>
            <td class="text-center">
              <div class="btn-group">
                <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" (click)="setItem(item)"
                  class="btn btn-primary btn-sm py-0"><i data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    class="fa fa-pencil"></i></button>
                <button class="btn btn-danger btn-sm py-0" (click)="setItem(item);promptDelete(delete)"><i
                    class="fa fa-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshData()">
      </ngb-pagination>

      <div class="col-md-3">
        <select class="form-select" [(ngModel)]="pageSize" (ngModelChange)="refreshData()">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="30">30 items per page</option>
          <option [ngValue]="100">100 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>

<!-- canvas vendor data -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 *ngIf="!formData.id" id="offcanvasRightLabel">New Vendor</h5>
    <h5 *ngIf="formData.id" id="offcanvasRightLabel">Update Vendor</h5>
    <button type="button" class="btn text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i
        class="fa fa-close"></i></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="formData.name">
    </div>
    <div class="mb-3">
      <label for="supplier" class="form-label">Role</label>
      <select class="form-select" [(ngModel)]="formData.role">
        <option value=1>Supplier</option>
        <option value=2>Subcon</option>
        <option value=3>Both</option>
      </select>
    </div>
    <div>
      <button type="submit" class="btn btn-primary form-control" (click)="submitData()">Submit</button>
    </div>
  </div>
</div>

<!-- modal details -->
<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Vendor</h4>
    <button type="button" class="btn text-reset" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
        class="fa fa-close"></i></button>
  </div>
  <div class="modal-body">
    <div>
      <p><strong>Are you sure you want to delete vendor <span class="text-primary">"{{formData.name}}"</span> ?</strong>
      </p>
      <p>All information associated to this vendor will be permanently deleted.
        <span class="text-danger">This operation can not be undone.</span>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close(formData)">OK</button>
  </div>
</ng-template>
