<!-- <p>material-registry works!</p> -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Purchase Order</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <div class="d-md-flex justify-content-between">
      <h4 class="card-title my-1 ml-2">Purchase Order</h4>
      <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" role="button" class="btn btn-primary mr-2">
        <i class="fa fa-plus"></i> Add Purchase Order
      </a>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-sm table-bordered mt-2">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Reference Number/ Name</th>
          <th scope="col" class="text-center">Link</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of poData; let num = index">
          <th scope="row" class="text-center">{{ num+1 }}</th>
          <td class="text-center">{{ item.name }}</td>
          <td class="text-center">
            <a href={{url+item.file.path}} target="_blank">{{item.file.filename}}</a>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <button class="btn btn-primary btn-sm py-0"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-warning btn-sm py-0"><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- canvas material data -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">New Purchase Order</h5>
    <button type="button" class="btn text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa fa-close"></i></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <label for="name" class="form-label">Reference Number/ Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="formData" (ngModelChange)="formData = $event.toUpperCase()">
    </div>
    <div class="mb-3">
      <label for="po_file" class="form-label">File Attachment</label>
      <input type="file" class="form-control" id="po_file" (change)="handleFile($event)">
    </div>
    <div class="">
      <button *ngIf="!formData || !file" type="submit" class="btn btn-primary btn-sm form-control" disabled>SUBMIT</button>
      <button *ngIf="formData && file" type="submit" class="btn btn-primary btn-sm form-control" (click)="submitData()">SUBMIT</button>
    </div>
  </div>
</div>

