<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Setting</li>
    <li class="breadcrumb-item active" aria-current="page">Personnel Management</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <div class="d-md-flex justify-content-between">
      <h4 class="card-title my-1 ml-2">Personnel Management</h4>
      <button (click)="setNew()" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" role="button"
        class="btn btn-primary mr-2">
        <i class="fa fa-plus"></i> Add Personnel
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-sm table-bordered mt-2">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Name</th>
          <th scope="col" class="text-center">Email</th>
          <th scope="col" class="text-center">Designation</th>
          <th scope="col" class="text-center">Role</th>
          <th scope="col" class="text-center">Signature</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of personnelData; let num = index">
          <th scope="row" class="text-center">{{ num+1 }}</th>
          <td class="text-center">{{ item.name }}</td>
          <td class="text-center">{{ item.email }}</td>
          <td class="text-center">{{ item.personnel.designation }}</td>
          <td class="text-center">{{ formatRole(item.role) }}</td>
          <td *ngIf="item.personnel.signature_id" class="text-center"><a href={{url+item.personnel.signature.path}}
              target="_blank" rel="noopener noreferrer">View Sign</a></td>
          <td *ngIf="!item.personnel.signature_id" class="text-center">-</td>
          <td class="text-center">
            <div class="btn-group">
              <button placement="top" ngbTooltip="Edit" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                (click)="setItem(item)" class="btn btn-primary btn-sm py-0"><i data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasRight" class="fa fa-pencil"></i></button>
              <button placement="top" ngbTooltip="Upload Signature" class="btn btn-warning btn-sm py-0"
                (click)="setItem(item);uploadModal(upload)"><i class="fa fa-paperclip fa-flip-horizontal"></i></button>
              <button placement="top" ngbTooltip="Delete" class="btn btn-danger btn-sm py-0"
                (click)="setItem(item);promptDelete(delete)"><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- canvas material data -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="my-2" *ngIf="!formData.id" id="offcanvasRightLabel">New Personnel</h5>
    <h5 class="my-2" *ngIf="formData.id" id="offcanvasRightLabel">Update Personnel</h5>
    <button type="button" class="btn text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i
        class="fa fa-close"></i></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="formData.name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="formData.email">
    </div>
    <div class="mb-3">
      <label for="designation" class="form-label">Designation</label>
      <input type="text" class="form-control" id="designation" [(ngModel)]="formData.personnel.designation">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="formData.password">
      <div *ngIf="formData.id" class="form-control-text"><small>Leave blank if no change.</small></div>
    </div>
    <div class="mb-3">
      <label for="role" class="form-label">Role</label>
      <select class="form-select" name="role" id="role" [(ngModel)]="formData.role">
        <option value="1">Maker</option>
        <option value="2">Checker</option>
        <option value="3">Approver</option>
      </select>
    </div>
    <div class="">
      <button type="submit" class="btn btn-primary btn-sm form-control" (click)="submit()">Submit</button>
    </div>
  </div>
</div>

<!-- modal delete details -->
<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Personnel</h4>
    <button type="button" class="btn text-reset" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
        class="fa fa-close"></i></button>
  </div>
  <div class="modal-body">
    <div>
      <p><strong>Are you sure you want to delete personnel <span class="text-primary">"{{formData.name}}"</span>
          ?</strong></p>
      <p>All information associated to this personnel will be permanently deleted.
        <span class="text-danger">This operation can not be undone.</span>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close(formData)">OK</button>
  </div>
</ng-template>

<!-- modal upload details -->
<ng-template #upload let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload Personnel Signature</h4>
    <button type="button" class="btn text-reset" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
        class="fa fa-close"></i></button>
  </div>
  <div class="modal-body">
    <div class="mb-3 mx-2">
      <label for="signature" class="form-label">Signature File Attachment</label>
      <input type="file" accept="image/png, image/x-png" (change)="handleFile($event)" class="form-control"
        id="signature">
      <div class="form-text">Signature File must be in <strong>PNG</strong> format.</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-primary" (click)="modal.close('hi')">Upload</button>
  </div>
</ng-template>
