<!-- <p>receiving works!</p> -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Receiving</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <div class="d-md-flex justify-content-between">
      <h4 class="card-title my-1 ml-2">Receiving</h4>
      <a [routerLink]="['/receiving/create']" role="button" class="btn btn-primary mr-2">
        <i class="fa fa-plus"></i> New Receiving
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-hover mt-2">
        <thead class="table-dark">
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Ref No</th>
            <th scope="col" class="text-center">D.O No</th>
            <th scope="col" class="text-center">Supplier</th>
            <th scope="col" class="text-center">Subcon</th>
            <th scope="col" class="text-center">Received Date</th>
            <th scope="col" class="text-center">Status</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of receivingData; let num = index">
            <th scope="row" class="text-center">{{ num+1 }}</th>
            <td class="text-center">{{ item.ref_no }}</td>
            <td class="text-center">{{ item.do_no }}</td>
            <td class="text-center">{{ item.supplier.name }}</td>
            <td class="text-center">{{ item.subcon.name }}</td>
            <td class="text-center">{{ item.received_date }}</td>
            <td class="text-center">{{ formatStatus(item.status) }}</td>
            <td class="text-center"><button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                (click)="setDetails(item)" class="btn btn-primary btn-sm py-0" aria-controls="offcanvasRight"><i
                  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" class="fa fa-info"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- canvas receiving data -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="py-2 m-0" id="offcanvasRightLabel"><strong>{{ selectedReceiving.ref_no }}</strong></h5>
    <div class="btn-group">
      <a *ngIf="selectedReceiving.status > 0" placement="bottom" ngbTooltip="Edit Receiving" type="button"
        [routerLink]="['/receiving/edit/' + selectedReceiving.ref_no]" class="btn text-primary"><i
          class="fa fa-pencil"></i></a>
      <button *ngIf="selectedReceiving.status > 0" (click)="promptComplete(complete)" placement="bottom"
        ngbTooltip="Set to Completed" type="button" class="btn text-success"><i class="fa fa-check"></i></button>
      <button *ngIf="selectedReceiving.status > 0" (click)="promptDelete(delete)" placement="bottom"
        ngbTooltip="Delete Receiving" type="button" class="btn text-danger"><i class="fa fa-trash"></i></button>
      <button placement="bottom" ngbTooltip="Close" type="button" class="btn text-reset" data-bs-dismiss="offcanvas"
        aria-label="Close"><i class="fa fa-close"></i></button>
    </div>

  </div>
  <div class="offcanvas-body">
    <div>
      <table class="table table-borderless table-hover">
        <tr>
          <th>Supplier</th>
          <td>{{ selectedReceiving.supplier.name }}</td>
        </tr>
        <tr>
          <th>Subcon</th>
          <td>{{ selectedReceiving.subcon.name }}</td>
        </tr>
        <tr>
          <th>D.O No</th>
          <td>{{ selectedReceiving.do_no }}</td>
        </tr>
        <tr>
          <th>P.O No</th>
          <td *ngIf="!selectedReceiving.po">{{ selectedReceiving.po_no ? selectedReceiving.po_no : 'N/A' }}</td>
          <td *ngIf="selectedReceiving.po"><a class="p-0" href={{url+selectedReceiving.po.file.path}}
              target="_blank">{{ selectedReceiving.po_no }}</a></td>
        </tr>
        <tr>
          <th>Date</th>
          <td>{{ selectedReceiving.date }}</td>
        </tr>
        <tr>
          <th>Received Date</th>
          <td>{{ selectedReceiving.received_date }}</td>
        </tr>
        <tr>
          <th>Files</th>
          <td *ngIf="selectedReceiving.files?.length">
        <tr *ngFor="let file of selectedReceiving.files">
          <a href={{url+file.path}} target="_blank">{{file.filename}}</a>
        </tr>
        </td>
        <td *ngIf="!selectedReceiving.files?.length">-</td>
        </tr>
        <!-- <tr>
          <th>Location</th>
          <td>{{ selectedReceiving.location.name+ (selectedReceiving.plot ? '+'+selectedReceiving.plot : '') }}</td>
        </tr> -->
      </table>
    </div>
    <hr>
    <h5 class="my-0">Material Details</h5>
    <hr class="mb-0">
    <div class="card mt-2" *ngFor="let item of selectedReceiving.details">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <span><strong>{{item.description}}</strong>
              <br>
              <small>Location: {{ item.location }}</small>
              <br>
              <small>Remarks: {{ item.remarks ? item.remarks : '-' }}</small>
            </span>
          </div>
          <button class="btn btn-primary">{{item.quantity}}</button>
        </div>

      </div>
    </div>
  </div>

  <!-- modal delete details -->
  <ng-template #delete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Delete Receiving</h4>
      <button type="button" class="btn text-reset" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
          class="fa fa-close"></i></button>
    </div>
    <div class="modal-body">
      <div>
        <p><strong>Are you sure you want to delete <span class="text-primary">"{{selectedReceiving.ref_no}}"</span>
            ?</strong></p>
        <p>All information associated to this receiving will be permanently deleted.
          <span class="text-danger">This operation can not be undone.</span>
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close(selectedReceiving)">OK</button>
    </div>
  </ng-template>

  <!-- modal complete details -->
  <ng-template #complete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Complete Receiving</h4>
      <button type="button" class="btn text-reset" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
          class="fa fa-close"></i></button>
    </div>
    <div class="modal-body">
      <div>
        <p><strong>Are you sure you want to complete <span class="text-primary">"{{selectedReceiving.ref_no}}"</span>
            ?</strong></p>
        <p>All information associated to this receiving cannot be changed or deleted once completed.
          <span class="text-danger">This operation can not be undone.</span>
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close(selectedReceiving)">OK</button>
    </div>
  </ng-template>
